*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-weight: bold;;
}
body{
    padding:0;
    margin:0;
}
.navbar-brand{
    color: white;
}
.container-fluid{
    border-radius: 0%;
}

.navbar{
    border-radius: 0%;
    background-image: linear-gradient(left,rgb(99, 99, 99),rgb(54, 54, 54));
    border-color: black;
}
.navbar-inverse{
    border-color: rgb(0, 0, 0);;
}
a{
    color:white;
}
.navbar-inverse .navbar-brand{
    color: white;
}

.navbar{
    margin:0px;
    padding:0px;
}

h1{
    margin:5%;
    text-align: center;
 }
h3{
    text-align: center;
    margin:5%;;
}

 .col-sm-4{
     margin-right:2%;
     margin-left:2%;
     background-color:grey;
     align-content: center;
     height:auto;
     
 }


@media (min-width: 768px){
.navbar-nav>li>a { display:none;
    text-align: center; ;

    
}


@media (min-width: 768px){}
.col-sm-4 {
    width:28.33333333%
}

.row{
    margin:0;
    padding:0%;
}

@media (max-width:992px min-width:767) {
    .col-sm-4{
        width:50%;
    }
    .col-sm-12{
        width:100%;
    }
}
